PORT=3000
DATABASE_URI=your_database_uri_here
RESEND_API_KEY=your_resend_api_key_here
SERVER_URL=your_server_url_here
FROM_EMAIL=your_from_email_here
JWT_SECRET=your_jwt_secret_here
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d
ENV=development
IMAGE_KIT_PRIVATE_KEY=your_image_kit_private_key_here
IMAGE_KIT_PUBLIC_KEY=your_image_kit_public_key_here
IMAGE_KIT_URL_ENDPOINT=your_image_kit_url_endpoint_here
