#App
PORT = 3000
NODE_ENV = development

# Database (Use this for Docker Container / local MongoDB)
MONGODB_URI=mongodb://<username>:<password>@localhost:27017/<database>?authSource=admin

#Jwt
JWT_ACCESS_SECRET=accessSecret
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_SECRET=refreshSecret
JWT_REFRESH_EXPIRES_IN=7d

#Resend mail service api keys
RESEND_API_KEY=yourResendMailApiKey
